@charset "UTF-8";

h1,h2,h3,h4,h5,h6,h7,p{
	margin: 0px;
	line-height: 1;
	font-family: "lato",sans-serif;
	color: black;
}


h1{
	font-family: "ratiomodern",serif;
	line-height: 1;
	text-transform: uppercase;
	
}




h2{
	font-family: "ratiomodern",serif;
	font-size: 32px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	line-height: 1.2;
	text-transform: uppercase;
	
}

h3{
	font-family: "ratiomodern",serif;
	font-size: 25px;
	letter-spacing: 1px;
	margin-bottom: 10px;
	line-height: 1.2;
	text-transform: uppercase;
	
	
}

h4{
	font-family: "ratiomodern",serif;
	font-size: 19px;
	margin-bottom: 10px;
	letter-spacing: 1.2px;
	line-height: 1.2;
}





h5{
	font-family: "lato",sans-serif;
	font-weight: 100;
	font-size: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #191919;
}

p{
	font-size: 14px;
	line-height: 19px;
	font-weight: 300;
}

.single-wrapper p{
	color: #656565;
	font-family: "lato",sans-serif; 
	font-style: normal; 
	font-weight: 300;
	margin-bottom: 20px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	p{
		font-size: 16px;
		line-height: 23px;
	}
	
	h2{
		font-size: 37px;
		margin-bottom: 30px;
	}
	
	h3{
		font-size: 32px;
	}
	
	
	h4{
		font-size: 27px;
		margin-bottom: 20px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}