@charset "UTF-8";
@import "font.css";

html{
	position: relative;
	min-height: 100%;
}

body,html{
	-webkit-font-smoothing: antialiased;
	font-family: "lato",sans-serif;
	line-height: 1;
	height: 100%;
	position: relative;
	margin: 0px;
}

img{
	max-width: 100%;
}

ul{
	list-style: none;
    -webkit-padding-start: 0px;
    margin: 0px;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus{
	text-decoration: none;
}

.valign-wrapper{
	overflow: hidden;
}

#landing-video{
	position: absolute;
}

.row-desktop{
	padding-left: 0px;
	padding-right: 0px;
}


.video-wrapper{
	position: absolute; 
	width: 100%; 
	height: 100%; 
	top: 0; 
	left: 0; 
	background-color: #000;
	overflow: hidden;
	z-index: 0;
}

.video-wrapper #skip-video{
	cursor: pointer;
}




.video-wrapper .skip-video{
	color: #fff;
	z-index: 1;
	bottom: 20px;
	right: 40px;
	position: absolute;
	cursor: pointer;
}


.btn-skip{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../images/btn_skip.svg');
    display: inline-block;
	height: 11px;
	width: 6px;
	margin-left: 5px;
}

/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
	position: relative; /*Any position but static should work*/
	overflow: hidden;
}
.focuspoint img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	display: block;
	/* fill and maintain aspect ratio */
	width: auto; height: auto;
	min-width: 100%; min-height: 100%;
	max-height: none; max-width: none;
}
/* !FOCUSED IMAGES END*/

.landing-wrapper{
	margin-top: 50px;
}

.landing-couture-wrapper .landing-wrapper h1{
	color: #fff;
}



.landing-wrapper h1{
	font-size: 38px;
	margin-bottom: 16px;
}

.landing-wrapper .middle-section{
	padding: 65px 0px 95px 0px;
}

.landing-wrapper.landing-couture-wrapper .middle-section{
	background-color: #0A0A0A;
}

.landing-couture-wrapper .middle-section h1, 
.landing-couture-wrapper .middle-section p, 
.middle-section2-wrapper h1,
.middle-section2-wrapper p{
	color: white;	
}


.middle-section-decor{
	border-top: 1px solid #000;
	padding: 15px 0px;
	width: 27px;
}


.landing-couture-wrapper .middle-section-decor{
	border-top: 1px solid #CCC19D;
}

.landing-couture-wrapper .mobile-nav-menu ul a{
	color: #fff;
}

.middle-section2-image .middle-section-decor{
	border-top: 1px solid #fff;
}

.middle-section2-wrapper{
	position: absolute;
	bottom: 0px;
}



.middle-section-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 193px;

}



.middle-section-image .shade{
	background-color: rgba(0, 0, 0, .37);
}

.landing-lashbar-wrapper .middle-section2-image .shade{
	background-color: rgba(0, 0, 0, .2);
}

.middle-section-image-1{
	background-image: url('../images/middle-section-image.png');
}

.middle-section-image-2{
	background-image: url('../images/landing-lashbar-lashdesign@2x.png');
}

.middle-section2-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
    height: 315px;
}



.middle-section2-image.middle-section2-image-1{
	background-image: url('../images/middle-section2-image.png');
}

.middle-section2-image.middle-section2-image-2{
	background-image: url('../images/landing-suavisexp@2x.png');
	
}



.landing-slides-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}







.landing-couture{
	left: 100%;
	background-image: url('../images/landing-couture.png');	
	-webkit-transition: left 1s ease-in-out 0s;
	-webkit-transition: left 1s ease-in-out 0s;
	-o-transition: left 1s ease-in-out 0s;
	-ms-transition: left 1s ease-in-out 0s;
	-moz-transition: left 1s ease-in-out 0s;
	transition: left 1s ease-in-out 0s;
}

.landing-couture.showup{
	left: 0%;
}




.landing-lashbar{
	right: 100%;
	background-image: url('../images/landing-lashbar.png');
	-webkit-transition: right 1s ease-in-out 0s;
	-o-transition: right 1s ease-in-out 0s;
	-ms-transition: right 1s ease-in-out 0s;
	-moz-transition: right 1s ease-in-out 0s;
	transition: right 1s ease-in-out 0s;
}


.landing-lashbar.showup{
	right: 0%;
	bottom: 0px;
}


.landing-image{
	background-size: cover;
	width: 100%;
	height: 50%;
	position: absolute;
	background-position: top center;
}


.landing-image:hover .shade{
	background-color: rgba(0,0,0,0.20);
}

.landing-divider{
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: 60px;
	padding: 0px 20px;
}


.shade{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .60);
	-webkit-transition: background 0.4s ease-in-out 0s;
}

.overall-entrance-wrapper{
	position: absolute;
	left: 0px;
	bottom: 20px;
	width: 100%;
	overflow: hidden;
}


.landing-couture hr{
	margin-left: 0px;
}

.landing-lashbar hr{
	margin-right: 0px;
}





.landing-logo{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 1;
	margin: auto;
	
}

.landing-logo-couture-w{
	background-image: url('../images/logo-couture-white.png');
	height: 75px;
	width: 92px;
	
}

.landing-logo-lashbar-w {
	background-image: url('../images/logo-lashbar-white.png');
	height: 75px;
	width: 92px;
}





.landing-couture-wrapper .landing-logo-couture-w{
	background-image: url('../images/logo-couture-white.png');
	height: 155px;
	width: 172px;
	
}

.landing-lashbar-wrapper .landing-logo-lashbar-w{
	background-image: url('../images/logo-lashbar-white.png');
	height: 150px;
	width: 99px;
}

.landing-logo-lashbar{
	background-image: url('../images/lashbar-logo-black.png');
}


.landing-aboutlogo{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 134px;
	margin-bottom: 15px;
}

.landing-about-lashlogo{
	background-image: url('../images/couture-logo-black.svg');
	
}



.landing-about-wrapper p{
	font-size: 14px;
    line-height: 1.3;
}



.landing-content-wrapper{
	margin: 50px -15px;
	
}



.btn-entrance{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 8px;
	width: 29px;
}

.btn-entrance-left{
	background-image: url('../images/btn-left-entrance.svg');
	float: left;
}

.btn-knowmore{
	background-image: url('../images/btn-knowmore-bk@2x.png');
	margin-top: 20px;
	margin-bottom: 20px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 43px;
	width: 43px;
	display: inline-block;
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
}

.btn-knowmore:hover{
	background-image: url('../images/btn-knowmore-bk-hover@2x.png');
	
}

.landing-couture-wrapper .btn-knowmore{
	background-image: url('../images/btn-knowmore-gold@2x.png');
}

.landing-couture-wrapper .btn-knowmore:hover{
	background-image: url('../images/btn-knowmore-gold-hover@2x.png');
}

.middle-section2-image .btn-knowmore{
	background-image: url('../images/btn-knowmore-white@2x.png');
}

.middle-section2-image .btn-knowmore:hover{
	background-image: url('../images/btn-knowmore-white-hover@2x.png');
}



.landing-entrance-wrapper{
	position: relative;
}

.landing-entrance-wrapper .lash-couture-lash{
	color: white;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "ratiomodern",serif;
}



.landing-entrance-wrapper img{
	height: 7px;
	position: absolute;
	top: 50%;
	margin-top: -3px;
}


.home-top-section{
	
	height: 390px;
    background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;

}

.home-top-section-1{
	background-image: url('../images/home-couture.png');
}

.home-top-section-2{
	background-image: url('../images/home-couture2.jpg');
}

.home-top-section-3{
	background-image: url('../images/home-couture3.jpg');
}

.home-top-section-4{
	background-image: url('../images/landing-lashbar-top@2x.png');
}

.home-top-section-5{
	background-image: url('../images/landing-lashbar-top-b.jpg');
}

.home-top-section-6{
	background-image: url('../images/landing-lashbar-top-c.jpg');
}

.suavis-home-carousel{
	position: relative;
}

.suavis-home-carousel .landing-logo{
	position: absolute;
	top: 15px;
    left: 15px;
    height: 87px;
    width: 100px;
}

.carousel-inner{
	background-color: #000;
}

.landing-lashbar-wrapper .carousel-inner{
	background-color: #fff;
}



.carousel-title{
	position: absolute;
	bottom: 30px;
	left: 15px;
}

.carousel-title h1, .carousel-title p{
	color: #fff;
}

.carousel-title p{
	font-weight: 400;
}

.carousel-title h1{
	margin-bottom: 5px;
	letter-spacing:2px;
	font-size: 23px;
}

.carousel-indicators{
	margin: 0px;
	left: auto;
	width: auto;
	left: 15px;
	bottom: 10px;
}



.carousel-indicators li{
	border-radius: 0px;
	
}

#nav-default1{
	display: none;
}



.single-wrapper{
	margin-top: 80px;
}

.single-couture-wrapper .mobilenav-logo1{
	background-image: url('../images/mobile-couture-logo-black.svg');
}

.single-couture-wrapper .mobile-nav-menu .mobilenav-logo1{
	background-image: url('../images/mobile-couture-logo-black.svg');
}
.single-wrapper .mobile-nav{
	background-color: #fff;
	box-shadow: 0px -17px 20px 11px #000;
}


.single-wrapper #nav-default1.hold{
	padding: 0px 15px;
}

.single-wrapper .mobile-nav-menu{
	background-color: #fff;
}

.single-wrapper .mobile-nav-menu ul a{
	color: #656565;
}


.aboutus-wrapper{
	margin-top: 60px;
}

#nav-default1.hold{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	display: block;
}



.navigation{
/*	padding: 20px;*/
	font-weight: 500;
	letter-spacing: 1px;
	overflow: hidden;
	font-size: 13px;
	background-color: #fff;
}



.navigation.nav-couture{
	background-color: #000;
	position: relative;
}

.navigation.nav-couture a{
	color: #fff;
}

.landing-lashbar-wrapper .navigation{
	background-color: #fff;
	color: #6A6A6A;
    border-bottom: 1px solid #ececec;
}

.landing-lashbar-wrapper .navigation a{
	color: #6A6A6A;
}

.landing-couture-wrapper .navigation, 
.landing-couture-wrapper .mobile-nav{
	background-color: #000;
	
}



.btn-mobile-nav{
	background-image: url('../images/mobile-menu-gold.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	position: relative;
	float: right;
}



.mobile-nav{
	position: fixed;
	background-color: #fff;
	padding: 15px;
	z-index: 999;
	width: 100%;
	top: 0px;
	left: 0px;
}

.mobilenav-logo{
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 22px;
    width: 97px;
    float: left;
}

.landing-couture-wrapper .mobilenav-logo1{
	background-image: url('../images/mobile-couture-logo.svg');
	height: 33px;
    width: 88px;
}

.mobilenav-logo1{
 	background-image: url('../images/mobilenav-lashbar-logo-w@2x.png');
 	height: 28px;
 	width: 71px;
 }

.mobile-nav-menu.on{
	display: block;
}


.landing-couture-wrapper .mobile-nav-menu{
	background-color: #000;
}

.mobile-nav-menu{
	display: none;
	height: 100%;
	width: 100%;
	z-index: 1000;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #fff;
	padding: 15px;
	background-color: #fff;
}

.mobile-nav-menu .mobilenav-logo{
	position: relative;
	float: none;
}

.mobile-nav-menu a{
	color: #656565;
}

.mobile-nav-menu ul{
	margin-top: 50px;
	line-height: 3;
}

.btn-mobile-close{
	position: absolute;
	right: 15px;
	top: 15px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 23px;
	width: 23px;
}

.btn-mobile-close1{
	background-image: url('../images/btn-close-gold.svg');
}

.single-wrapper .navigation{
	background-color: #fff;
	color: #6A6A6A;
	margin-bottom: 35px;
	z-index: 100;
    left: 0px;
    top: 0px;
    width: 100%;
    position: fixed;
    box-shadow: 0px -11px 20px 4px #000;
}

.single-wrapper .navigation li{
	color: #6A6A6A;
	border-top: 1px solid #fff;
    line-height: 23px;
}

.navigation li{
	border-top: 1px solid #fff;
	line-height: 23px;
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
}

.navigation li:hover{
	border-top: 1px solid #000000;
	line-height: 23px;
	color: #000;
	
}



.single-couture-wrapper .navigation li{
	color: #6A6A6A;
	line-height: 23px;
}

.landing-couture-wrapper .navigation li{
	border-top: 2px solid #000;
    line-height: 23px;
}

.single-couture-wrapper .navigation li{
	border-top: 2px solid #fff;
    line-height: 23px;
}


.landing-couture-wrapper .navigation li,
.single-couture-wrapper .navigation li{
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
}

.landing-couture-wrapper .navigation li:hover,
.single-couture-wrapper .navigation li:hover{
	border-top: 1px solid #CCC19D;
    line-height: 23px;
    color: #CCC19D;
}



.single-couture-wrapper .landing-logo-couture-w{
	background-image: url('../images/couture-logo-black.svg');
}


.single-wrapper .navigation .landing-logo{
	
}

.single-wrapper .container-fluid{
	padding: 0px;
}



.navigation .landing-logo{
	height: 70px;
	width: 77px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}

.navigation ul{
	margin: 0px;
	margin-left: 20px;
	
	
}


.navigation ul , .navigation li{
	display: inline-block;
	vertical-align: middle;
	
}

.nav-couture{
	color: #fff;
}

.navigation li{
	margin-right: 23px;
}



/*.navigation li:hover{
	border-top: 1px solid #fff;
	
}*/

.nav-couture ul{
	color: #fff;
	
}

.logo-navlink{
	display: inline-block;
	padding: 8px 0px;

}






.reservation-lang-wrapper{
	float: right;
}

.reservation-lang-wrapper a{
	color: #fff;
}

.nav-reservation, .nav-lang {
	display: inline-block;
	line-height: 86px;
	text-align: center;
}

.nav-reservation{
	padding: 0px 15px;
	color: #fff;
    background-color: #ACACAC;
}

.nav-lang{
	float: right;
	width: 86px;
	background-color: #C3C3C3;
}

.single-couture-wrapper .nav-reservation,
.landing-couture-wrapper .nav-reservation{
	background-color: #404040;
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
}

.single-couture-wrapper .nav-reservation:hover,
.landing-couture-wrapper .nav-reservation:hover{
	background-color: #bfb38c;
}

.single-couture-wrapper .nav-lang,
.landing-couture-wrapper .nav-lang{
	background-color: #6C6C6C;
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
   
}

.single-couture-wrapper .nav-lang:hover,
.landing-couture-wrapper .nav-lang:hover{
	background-color: #bfb38c;
   
}


.nav-reservation{
	background-color: #ACACAC;
	
}

.nav-reservation:hover,.nav-lang:hover,
.landing-lashbar-wrapper .nav-lang:hover{
	background-color: #717171;
	-webkit-transition: .2s ease-in-out 0s;
	-moz-transition: .2s ease-in-out 0s;
	-ms-transition: .2s ease-in-out 0s;
	-o-transition: .2s ease-in-out 0s;
	transition: .2s ease-in-out 0s;
	
}



.landing-lashbar-wrapper .nav-lang{
	background-color: #C3C3C3;
	color: #fff;
}




.landing-about-wrapper{
	margin: 65px 0px 38px 0px;
}


/*about us start*/


.aboutus-top{
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 283px;
}


.single-couture-wrapper .aboutus-top1{
	background-image: url('../images/aboutus-top.png');
}

.aboutus-top1{
	background-image: url('../images/aboutus-lashbar1@2x.png');
}

.aboutus-spacing{
	
    margin: 40px 0px 0px 0px;
	overflow: hidden;
}





/*about us end*/

.nav-tabs{
	border: none;
}

.menu-anchor{
	position: fixed;
	
}

.menu-anchor li{
	text-transform: uppercase;
}

.menu-anchor ul{
	margin-bottom: 25px;
	font-weight: 500;
	letter-spacing: 1px;
}


.menu-anchor li{
	font-size: 13px;
	color: #C1C1C1;
	line-height: 2;
	display: block;
	cursor: pointer;
}
.menu-anchor li.active{
	color: #CCC19D;
	font-weight: 600;
}
.menu-anchor li a{
	padding: 0;
	color: inherit!important;
}
.menu-anchor li a:focus,
.menu-anchor li a:hover{
	background: none;
}

.menu-anchor a{
	display: block;
}


.menu-anchor a:active{
	color: #CCC19D;
}

.menu-anchor a li:hover{
	color: #CCC19D;
}

.menu-anchor li:first-child{
	font-size: 13px;
	color: #4D4D4D;
}

#lashdesign h2{
	text-align: left;
}


.lashtype-volume h3{
	text-align: center;
}




.lashdesign-spacing{
	margin: 25px 0px;
	padding: 0px;
	overflow: hidden;
}


.lashdesign-section img{
	width: 100%;
	vertical-align: bottom;
	margin-bottom: 30px;
}

.lashdesign-section h3{
	text-align: left;
}

.lashdesign-cross{
	background-image: url('../images/lashdesign-cross.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	height: 58px;
	width: 58px;
	margin: auto;
}

.lashdetails{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.lashdetails-curvature{
	background-image: url('../images/curvature.svg');
	height: 162px;
}

.lashdetails-thickness{
	background-image: url('../images/thickness.svg');
	height: 248px;
}

.lashdetails-length{
	background-image: url('../images/length.svg');
	height: 286px;
}

.lashdetails-volume{
	background-image: url('../images/volume.svg');
	height: 706px;
}

.single-wrapper .middle-section-decor{
	padding-bottom: 20px;
	padding-bottom: 8px;
	width: 37px;
}



.single-wrapper .middle-section-decor, .single-wrapper hr{
	border-color: #95989A;
}

.single-wrapper hr{
	width: 100%;
}

.single-wrapper img{
	margin-bottom: 25px;
}

.lashtype-eye-image{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	height: 210px;
}

.lashtype-eye-image1{
	background-image: url('../images/lashtype.png');
}



.lashtype-spacing{
	margin: 0px 0px 30px 0px;
	overflow: hidden;
}

.lashtype-spacing h4{
	text-align: left;
}


.single-wrapper .lashdesign-spacing h5{
	margin-top: 40px;
	margin-bottom: 15px;
	font-weight: 200;
	
}

.lashdesign-curvature-image{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 80px;
	width: 13%;
	display: inline-block;
	vertical-align: bottom;
}


.lashdesign-curvature-image1{
	background-image: url('../images/curvature-1.svg');
	
}

.lashdesign-curvature-image2{
	background-image: url('../images/curvature-2.svg');
	
}

.lashdesign-curvature-image3{
	background-image: url('../images/curvature-3.svg');
	
}

.lashdesign-curvature-image4{
	background-image: url('../images/curvature-4.svg');
	
}

.lashdesign-curvature-image5{
	background-image: url('../images/curvature-5.svg');
	
}

.lashdesign-curvature-image6{
	background-image: url('../images/curvature-6.svg');
	
}

.lashdesign-curvature-image7{
	background-image: url('../images/curvature-7.svg');
	
}

.curvature-wrapper{
	position: relative;
}

.curvature-wrapper p{
	font-size: 25px;
	/* top: 11px; */
/*	top: 50%;*/
	position: absolute;
	display: inline-block;
}

.lashdesign-curvatureonly {
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 80px;
	width: 13%;
	display: inline-block;
	float: left;
}

.lashdesign-curvatureonly1{
	background-image: url('../images/curvatureonly-1.svg');
}

.lashdesign-curvatureonly2{
	background-image: url('../images/curvatureonly-2.svg');
}

.lashdesign-curvatureonly3{
	background-image: url('../images/curvatureonly-3.svg');
}
.lashdesign-curvatureonly4{
	background-image: url('../images/curvatureonly-4.svg');
}
.lashdesign-curvatureonly5{
	background-image: url('../images/curvatureonly-5.svg');
}
.lashdesign-curvatureonly6{
	background-image: url('../images/curvatureonly-6.svg');
}
.lashdesign-curvatureonly7{
	background-image: url('../images/curvatureonly-7.svg');
}


.btn-lashtype{
	border: 2px solid #000;
	padding: 15px;
	padding: 15px;
	display: block;
	letter-spacing: 1px;
	color: #6A6A6A;
    width: 160px;
    text-align: center;
    margin: auto;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}



.btn-lashtype a{
	color: #6A6A6A;
}

.btn-lashtype:hover{
	background-color: #000;
	color: #fff;
}


.single-couture-wrapper .btn-lashtype{
	border-color: #CCC19D;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.single-couture-wrapper .btn-lashtype:hover{
	background-color: #CCC19D;
	color: #fff;
}

/*silder image start
.cd-resize-img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	overflow: hidden;
	 Force Hardware Acceleration in WebKit 
	transform: translateZ(0);
	backface-visibility: hidden;
}
.is-visible .cd-resize-img {
	width: 50%;
	 bounce in animation of the modified image 
	animation: cd-bounce-in 0.7s;
}

@keyframes cd-bounce-in {
  0% {
    width: 0;
  }
  60% {
    width: 55%;
  }
  100% {
    width: 50%;
  }
}
silder image end*/

.suavisexp-wrapper h4{
	font-size: 27px;
}



.suavisexp-spacing{
	margin: 35px 0px;
	overflow: hidden;
}



.suavisexp-spacing:last-of-type{
	margin: 0px;
}

.suavisexp-step1-image{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 200px;
	margin: 0px auto 20px auto;
}



.suavisexp-step1-image1{
	background-image: url('../images/exp-step1.png');
	width: 100%;
}





.suavisexp-step1-image2{
	background-image: url('../images/exp-step2.png');
	width: 350px;
	width: 100%;
}




.suavisexp-step1-image3{
	background-image: url('../images/exp-step3.png');
   width: 100%;

}



.suavisexp-step1-image4{
	background-image: url('../images/exp-step4@2x.png');
	height: 289px;
   /* width: 410px;*/
}

.contactus-wrapper{
	color: #656565;
	margin-bottom: 60px;
}
.contactus-wrapper h5{
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0px;
	color: #000000;
	margin-bottom: 5px;
}


.map{
	height: 320px;
	background-color: black;
}

.form{
    display: inline-block;
    float: right;
    margin-top: 30px;
}


.form-style{
	width: 100%;
	background-color: #343434;
	border: none;
	margin-bottom: 15px;
	line-height: 1.5;
	padding: 10px 15px;
	font-size: 14px;
	letter-spacing: 1.1px;
}

.form-style:focus{
	outline: none;
}

.form-comments{
	height: 146px;
}

.btn-submit{
	width: 100%;
	background-color: #000000;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 4.2;
}




/*pricelist table start*/

.pricelist-spacing th:first-child{
	text-align: left;
}



.pricelist-spacing th{
	width: 33.33333%;
	text-align: center;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 12px 0px;
	vertical-align: bottom;
    
}

.pricelist-spacing th:last-child, td:last-child{
	text-align: right;
}


.pricelist-additional th{
    width: 66.6666%;
}



.pricelist-additional th:last-child, 
{
	text-align: right;

}



.pricelist-additional td:last-child{
	text-align: center;
}
/*
tr{
	padding: 0px 25px;
}*/

.pricelist-spacing td:first-child{
	text-align: left;
}

.pricelist-spacing td{
	background-color: #BCC2D3;
	padding: 18px 10px;
	font-size: 14px;

	font-weight: 300;
	text-align: center;
	width: 33.3333%;
}


.pricelist-spacing td.td-bgwhite{
	background-color: #fff;
}

.pricelist-spacing{
	margin-bottom: 90px;
	overflow: hidden;
}

.pricelist-spacing:last-child{
	margin-bottom: 20px;
}





.mediaexposure-wrapper .middle-section-decor{
	margin-top: 18px;
}

.mobile-nav-menu{
	font-size: 14px;
	font-weight: 300;
}


.mobile-nav-menu .sns-wrapper{
	margin-top: 37px;
}



.mobile-nav-menu .sns-wrapper a i{
	margin-top: 35px;
	color: white;
	font-size: 23px; 
	line-height: 1;
	margin-right: 15px;
}

.mobile-reser-tc{
	display: inline-block;
    font-weight: 600;
    position: absolute;
    left: 0px;
    bottom: 0px;
    letter-spacing: 1px;
    width: 100%;
	line-height: 5;
    text-align: center;
}

.mobile-reser-tc a{
	color: #fff;
}


.mobile-reser{
	background-color: #404040;
	width: 70%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

.mobile-tc{
	background-color: #6C6C6C;
	width: 30%;
	display: block;
	position: absolute;
	right: 0px;
	bottom: 0px;
	
}

/*modal-start*/
.modal{
	z-index: 99999;
}

.modal-content{
	border-radius: 0px;	
	background-color: #171717;
	color: #fff;
}

.modal-content p{
	color: #fff;
}

.single-couture-wrapper .modal h4{
	color: #fff;
	text-transform: uppercase;
}

.modal-dialog{
	width: auto;
}

.modal-header, .modal-body{
	padding: 15px;
	overflow:  hidden;
}

.modal-header h4{
	color: white;
}



.modal-body{
	overflow: hidden;
}

.modal-header, .modal-footer{
	border: 0px;
}

.btn-reser-close{
	background-image: url(../images/btn_reser_close.svg);
	height: 27px;
	width: 27px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	 float: right; 
/*	position: absolute;
	right: 70px;*/
	cursor: pointer;
}



.hasDatepicker{

	width: 100%;
}

.ui-datepicker-calendar{
	background-color: #000;
}

.ui-widget.ui-widget-content{
	margin: auto;
	width: 100%;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background-color: #000;
	padding: 0px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #000;
}

.ui-widget-content{
	background-color: transparent;
}

.ui-datepicker .ui-datepicker-title{
    text-transform: uppercase;
    font-family: lato;
    font-weight: 300;
    font-size: 23px;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
	top: 50%;
	margin-top: -15px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: none;
	background-color: #333333;
}

.ui-datepicker th{
	border: 0;
	color: #fff;
	font-size: 16px;
	font-family: lato;
	font-weight: 300;
}


/*modal-end*/


.footer{
	border-top: 1px solid #838383;
	font-size: 13px;
	font-weight: 400;
	padding: 25px 0px;
	color: #838383;
}

.footer ul{
	padding: 0px;
	display: inline-block;
}

.footer li{
	display: inline-block;
	padding-right: 30px;
}

.footer a{
	color: #838383;
}

.footer .sns-wrapper{
	display: inline-block;
	float: right;
}

.footer .sns-wrapper .fa{
	margin-left: 20px;
	position: relative;
	font-size: 18px;
	
}






/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.lashdesign-section img{
		width: 24.5%;
		margin-bottom: 50px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	

	.row-desktop{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.suavis-home-carousel .landing-logo{
		top: 40px;
		left: 40px;
	}
	
	
	.suavis-home-carousel .landing-logo.landing-logo-couture-w{
		height: 117px;
		width: 130px;
	}
	
	.suavis-home-carousel .landing-logo.landing-logo-lashbar-w{
		
		height: 117px;
		width: 99px;
		
	}
	
	.landing-entrance-wrapper .lash-couture-lash{
		font-size: 26px;
	}
	
	
	.landing-couture hr{
		margin-left: 15px;
	}
	
	
	.landing-lashbar hr{
		margin-right: 15px;
	}
	
	
	.landing-wrapper{
		margin-top: 0px;
	}
	
	.landing-wrapper .middle-section{
	    padding: 95px 0px 220px 0px;
	}
	
	
	.landing-couture{
		left: -50%;
		background-image: url('../images/landing-couture.png');	
		-webkit-transition: left 1s ease-in-out 0s;
		-webkit-transition: left 1s ease-in-out 0s;
		-o-transition: left 1s ease-in-out 0s;
		-ms-transition: left 1s ease-in-out 0s;
		-moz-transition: left 1s ease-in-out 0s;
		transition: left 1s ease-in-out 0s;
	}
	
	.landing-logo-couture-w{
		height: 180px;
	    width: 170px;
	}
	
	.landing-logo-lashbar-w{
		height: 170px;
	    width: 130px;
	}
	
	
	
	
	.landing-couture.showup{
		left: 0%;
	}
	
	.landing-image{
		height: 100%;
		width: 50%;
	}
	
	.landing-lashbar{
		left: 100%;
		background-image: url('../images/landing-lashbar.png');
		-webkit-transition: left 1s ease-in-out 0s;
		-o-transition: left 1s ease-in-out 0s;
		-ms-transition: left 1s ease-in-out 0s;
		-moz-transition: left 1s ease-in-out 0s;
		transition: left 1s ease-in-out 0s;
	}
	.landing-lashbar.showup{
		left: 50%;
		bottom: auto;
	}
	
	
	
	.middle-section-decor{
	    padding: 0px 0px 40px 0px;
	    width: 77px;
	}
	
	.middle-section-image{
		height: 543px;
	}
	
	.landing-wrapper h1{
		font-size: 80px;
		margin-bottom: 30px;
	}
	
	.middle-section2-image{
		height: 635px;
	}
	
	
	.carousel-title{
		position: absolute;
		bottom: 20px;
		left: 40px;
	}
	
	.home-top-section{
		height: 560px;
	}
	
	.carousel-title h1{
		margin-bottom: 5px;
		letter-spacing:2px;
		font-size: 32px;
	}
	
	.carousel-title p{
		
		font-size: 14px;
		
	}
	
	.carousel-indicators{
		margin: 0px;
		left: auto;
		width: auto;
		right: 50px;
		left: auto;
		bottom: 20px;
		
	}
	
	.landing-about-wrapper{
		margin: 125px 0px 88px 0px;
	}
	
	.landing-aboutlogo{
		height: 194px;
	}
	
	.landing-about-wrapper p{
		font-size: 20px;
		line-height: 30px;
	}
	
	.single-wrapper .container-fluid{
		padding: 0px 15px;
	}
	
	.single-wrapper{
		margin-top: 116px;
	}
	
	.aboutus-wrapper{
		margin-top: 86px;
	}
	
	.single-wrapper .middle-section-decor{
		padding-bottom: 20px;
	}
	
	.aboutus-top{
		height: 543px;
	}
	
	.aboutus-spacing{
		margin: 130px 0px;
	}
	
	#lashdesign h2{
		text-align: left;
	}
	
	.lashdesign-spacing{
		margin: 40px 0px;
		padding: 0px;
	}
	
	
	.lashtype-spacing:last-of-type{
		margin-bottom: 0px;
	}
	.lashtype-spacing{
		margin: 0px 0px 105px 0px;
		
	}
	
	.lashtype-spacing h4{
		text-align: left;
	}
	
	.lashdesign-section img{
		width: 13.8%;
	}
	
	.lashtype-volume h3{
		text-align: left;
	}
	
	.suavisexp-spacing{
		margin: 0px;
	}
	
	.suavisexp-step1-image{
		height: 370px;
	}
	
	.suavisexp-step1-image1{
		width: 500px;
	}
	
	.suavisexp-step1-image2{
		width: 350px;
	}
	
	.suavisexp-step1-image3{
		
		width: 459px;
	}
	
	.suavisexp-step1-image4{
		background-image: url('../images/exp-step4@2x.png');
	    width: 410px;
	}
	
	.pricelist-spacing td{
		padding: 15px 25px;
		font-size: 16px;
	}
	
	.btn-lashtype{
		border: 2px solid #000;
		padding: 15px;
		padding: 15px;
		display: inline-block;
		letter-spacing: 1px;
		color: #6A6A6A;
		width: auto;
	}
	
	.pricelist-spacing th{
		
		padding: 10px 25px;
	}
	
	.pricelist-spacing th:last-child, td:last-child{
		text-align: center;
	}
	
	.map{
		height: 560px;
	}
	
	.lashdesign h2{
		text-align: left;
	}
	
	.middle-section2-wrapper{
		bottom: 30px;
	}
	
	
	
	.mediaexposure-wrapper .middle-section-decor{
		margin-top: 108px;
	}
	
	.modal-dialog{
		width: 70%;
	}
	
	.modal-header{
		padding: 40px 70px 15px 70px;
	}
	
	.modal-body{
		padding: 15px 70px 40px 70px;
	}
	
	.ui-datepicker th{
		font-size: 20px;
	}
	
	   
   .form{
       margin-top: 0px;
   }
   
   .footer .sns-wrapper .fa{
   	font-size: 23px;
   }
   

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}